build
node_modules
stats
config.json
Scripts/GenerateDatabaseTypes/package-lock.json
src/credentials/config.ts
builds
EventSub/bin
EventSub/coverage.out
EventSub/coverage.html
EventSub/.evsub.secret.key
.idea
.backups
logs