header {
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    display: flex; 
    vertical-align: top; 
    column-gap: 20px;
    border-style: solid;
    border-color: #FF5349;
    box-sizing: border-box;
    padding: 20px;
}

a {
    text-decoration: none;
    padding: 0 5px;
    color: #FF5349;
    transition: all .9s;
}

a:hover {
    color: white
}