@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

* {
}

header {
	top: 20px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	display: flex;
	vertical-align: top;
	column-gap: 20px;
	border-style: solid;
	border-color: #ff5349;
	box-sizing: border-box;
	padding: 20px;
	color: #8c8c8c !important;
}

ul {
	color: #8c8c8c !important;
}

nav {
	color: #8c8c8c !important;
}

a.dropdown-item {
	padding: 0 5px;
	color: #ff5349;
	transition: all 0.5s;
}

a.dropdown-item:not(:last-child) {
	margin-bottom: 0.7em;
}
