@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

.Dropdown-Bot {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
}

.dropdown-menu {
  -webkit-box-shadow: 2px 6px 21px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 6px 21px -2px rgba(0,0,0,0.75);
  box-shadow: 2px 6px 21px -2px rgba(0,0,0,0.75);
  background-color: #1a1a1a;
}

.Title-bot {
  font-family: 'Noto Sans Display', sans-serif;
  font-size: xx-large;
  letter-spacing: 10px;
  margin-left: 15px; }

#dropdownMenuButton {
  transition: 500ms ease-in-out;
}
  
#dropdownMenuButton:hover {
  transform: scale(2); 
}

.Dropdown-Bot .Title-bot {
  transition: 500ms ease-in-out;
} 

.Dropdown-Bot:hover .Title-bot {
  transform: translateY(-20px); }

#dropdownMenuButton::after {
  display: none; 
}

.dropdown-item {
  color: #bfbfbf;
}

.btn:focus {
  box-shadow: none;
}

.img-circle {
  top: 0%;
  height: 64px;
  width: 64px;
}