@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

.BotStats p {
    text-align: right;
}

.BotStats ul {
    font-family: 'Noto Sans Display', sans-serif;
    float: right;
    direction: rtl;
}

.BotStats li:not(:last-child) {
    margin-bottom: 10px;
}

#stats span {
    text-align: right;
    white-space: nowrap;
    margin-left: 5px;
}

#forsenKek {
    height: '64px';
    width: '64px';
}