doctype html
html
    head
        include ./header.pug
    
        title= "Not found"
        style 
            include /css/html.css
        
        style.
            #bigFourOFour {
                font-size: xx-large;
            }

    body
        block header
        
        img(src="https://cdn.7tv.app/emote/60e5d610a69fc8d27f2737b7/4x")
        .underImage
            p
                span(id="bigFourOFour") 404
                b
                    span(id="url")
                div.
                    Not Found...
        script.
            document.getElementById("url").innerHTML = window.location.pathname;