doctype html
html
    head
        title= "Error"
        
        include ./header.pug

        style
            include /css/html.css
            include /css/error.css

    body
        block header
        div(class='error')
            h1(class='error-title') Error
            p(class='error-message') An error occured while processing your request.
            p(class='error-message') Error Message: #{safeError}
            hr
            a(href='/')
                button(class='btn btn-dark') Return to Homepage
