doctype html
html
    head
        include ./header.pug

        title= title

        style
            include /css/html.css
        
    body
        block header
        include trStats.pug

        div(class="index-container m-4 c-white")
            h4 What is this?
            p This is the website for Melonbot, a Twitch bot.

            h4 How can i get access to it.
            p You can get access to the bot by following the instructions 
                a(href=`https://www.twitch.tv/${bot.name}/about`) here
            
            h4 What commands can i use?
            p You can find a list of commands 
                a(href="/bot/commands") here