doctype html
html
    head
        title= title

        style
            include /css/html.css
            include /css/login.css
        
    body
        block header
        include trStats.pug

        // Not logged in
        if LoggedIn === undefined

            div(class="BotLogin")
                span
                    img(src="https://static-cdn.jtvnw.net/emoticons/v2/304412445/default/dark/1.0" alt="forsenSmug")
                    img(src="https://pajbot.com/static/emoji-v2/img/twitter/64/1f447.png" alt="Hand pointing down" id="emote")
                    br
                    a(class="btn btn-outline-info" href="/login/redirect") Login to twitch.

        else

            div(class="loggedIn")
                img(src="https://cdn.frankerfacez.com/emoticon/145947/4")
                img(src="https://cdn.7tv.app/emote/60ae4eee5d3fdae58314148d/4x")
                p Thank you, you are now logged in.
