style 
    include /css/trStats.css

script(type="text/javascript" defer).
    window.onload = async function GetStats() {
        let data = {
            error: null,
            commitHash: "",
            commits: 0,
            uptime: "",
            commandsHandled: 0
        }
        
        await fetch("/api/v1/stats", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(res => res.json())
        .then(
            (result => {
                console.log(result)
                data = {
                    commitHash: result.commitHash,
                    commits: result.commits,
                    uptime: result.uptime,
                    commandsHandled: result.commandsHandled
                }
            })
        ).catch((error) => {
            data = {
                error: error
            }
        });

        console.log(data)

        // Might not work, unsure.
        if (data.error) {
            document.getElementById('stats').innerHTML = error
        }
        document.getElementById('uptime').innerHTML = data.uptime
        document.getElementById('commits').innerHTML = data.commits
        document.getElementById('commitHash').innerHTML = data.commitHash
        document.getElementById('commandsHandled').innerHTML = data.commandsHandled
    }
    


div(class="BotStats")
    p
        span
            ul(id="stats")
                li  wow! Cool bot stats
                    img(src="https://cdn.betterttv.net/emote/5c04c335693c6324ee6a23b2/1x")
                    
                li Bot has been awake for: 
                    span(id="uptime") 0

                li Total commits:
                    span(id="commits") 0
                
                li Commit hash:
                    span(id="commitHash") 0
                
                li
                    a(href="https://github.com/JoachimFlottorp/Melonbot") Github
                
                li Total commands handled by the bot: 
                    span(id="commandsHandled") 0
