.basic-table th, td {
    padding: 0;
    text-align: left;
}

.basic-table {
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    background-color: #1f1f1f;
    color: rgb(189, 189, 189)
}

.basic-table td {
    word-wrap: break-word;
}
