import { registerCommand } from '../../controller/Commands/Handler.js';
import { ECommandFlags, EPermissionLevel } from './../../Typings/enums.js';

registerCommand({
	Name: 'name',
	Ping: false,
	Description: '',
	Permission: EPermissionLevel.VIEWER,
	OnlyOffline: false,
	Aliases: [],
	Cooldown: 5,
	Params: [],
	Flags: [],
	PreHandlers: [],
	Code: async function (ctx) {
		return { Success: true, Result: ctx.input.join(' ') };
	},
});
